@import "bourbon/bourbon";
@import "neat/neat";
//----------------------------------------------------------------------------------------------------------
	html, body{
			margin:0px;
			padding:0px;
			font-family:wdb_bangnaregular;
			font-weight:400;
			background-color:#FFF;
			color:#000;
			height:auto;
			width:auto;
		}
.outer-container{
	@include outer-container;
	background-color:#E3E3E3;
}
//----------------------------------------------------------------------------------------------------------